<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .navbar {
            background-color: #a9f558;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="height: 80px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="about"><img src="assets/img/logo.png" alt="logo.." width="105px"
                    height="auto"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- About section -->
    <div class="container my-4">
        <div class="row featurette d-flex align-items-center justify-content-center">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Working Hard. <span class="text-muted">To Make life easier
                        for our users.</span></h2>
                <p class="lead">At Track My Bus, we put a lot of effort into providing our users with a valuable,
                    welcoming, user-friendly, and reliable service. We covers almost all the routes of Dublin Bus and we
                    try assisting individuals get to places like work, school, appointments, shopping, or just places
                    like going out for pleasure. Additionally, we hope to provide a service you can rely on. We have
                    been working to improve our Track My Bus web app so that you can easily plan your route, view
                    real-time bus schedules, and provide us with feedback—all from the convenience of your hand.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/img/about-1.jpg"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="..">
            </div>
        </div>

        <div class="row featurette d-flex align-items-center justify-content-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Be ahead. <span class="text-muted">Plan your
                        journey.</span></h2>
                <p class="lead">At Track My Bus, we always keeps our users ahead from others. On our website, you can
                    simply plan your route because the time is displayed in real-time minutes so you always know
                    when the bus is coming. If not, it displays the timetable time so you can see when the bus is
                    scheduled to arrive.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="assets/img/about-2.jpg"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="..">
            </div>
        </div>

        <div class="row featurette d-flex align-items-center justify-content-center">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Your Concern. <span class="text-muted">Our
                        priority.</span></h2>
                <p class="lead">Please write to us with any questions or issues you may have regarding the website, and
                    we will address them. We've made it quick and simple for you to send feedback also since we're constantly
                    curious
                    about how you feel about the service we offer. Simply visit the "contact us" area and spend two
                    minutes leaving us feedback or any concern, positive or negative. We consider all comments and apply them to
                    enhance your bus service.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/img/about-3.jpg"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="..">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2022 TrackMYbus, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</body>

</html>